body 
{
    margin:0;
    font-family: "fira-sans", "San Francisco", "Segoe UI", sans-serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid gray ;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FAF9F5;
}

.active {
  background-color: #4CAF50;
}
#img
{
    width: 100px;
    height: 50px;

}
.link
{
    color: black;
    margin-top: 15px;
}
.right
{
    position:relative;
    left: 750px;
}
#page
{
    background-color: #F8F9FA;
    width: 100%;
    height: 100%;
    
}
#footer
{
clear: both;
background-color: #232F3A;
width: 100%;
height: 600px;
color: white;
}
#in-footer
{
width: 85%;
margin-left: 100px;
margin-right: 100px;

}
#envelop
{
width: 51px;
height: 48px;
margin-top: 40px;
float: left;
}
#envelop-text
{
padding: 25px;
display: inline-block;
margin-left: -25px;

}
#help-text
{
padding: 25px;
float: right;
text-overflow: ellipsis;


}
.social
{
margin-bottom: 100px;
}
.is-link
{
color: white;
text-decoration-line: none;
}
.is-link:hover
{
text-decoration-line: underline;
color: #626667 !important;

}
#contact
{
text-decoration-line: none;
color:#27A9E1 ;
}
#contact:hover
{
text-decoration-line: underline;
color: #1D79A1;
}
.col-2
{
width: 24%;
display: inline-block;
vertical-align: top;

}
#content1
{
text-align: center;
}
#text
{
width: 500px;
height: 35px;
display: inline-block;

}
#send
{
width: 510px;
height: 35px;
margin-top: 10px;
background-color: #27A9E1;
border-color: #27A9E1;
color: white;
margin-bottom: 50px;
}
#send:hover
{
background-color:#1D79A1 ;
color: white;
}
.popup
{
background: rgba(0, 0,0, 0.6);
width: 100%;
height: 100%;
position: absolute;
top: 0;
display: none;
justify-content: center;
align-items: center;
text-align: center;
}
.popup-content
{
height: 450px;
width: 414px;
background: #fff;
padding: 20px;
border-radius: 5px;
position: relative;

}
.popup input
{
margin: 20px auto;
display: block;
width: 50%;
padding: 8px;
border: 1px solid grey;
}

.close
{
position: absolute;
top: -15px;
right: -15px;
background: #fff;
height: 30px;
width: 30px;
border-radius: 50%;
cursor: pointer;
}
.popup2
{
background: rgba(0, 0,0, 0.6);
width: 100%;
height: 100%;
position: absolute;
top: 0;
display: none;
justify-content: center;
align-items: center;
text-align: center;
}
.close2
{
position: absolute;
top: -15px;
right: -15px;
background: #fff;
height: 30px;
width: 30px;
border-radius: 50%;
cursor: pointer;
}
#newsletter
{
background-color: #2FBB86;
font-weight: bolder;
width: 58px;
height: 32px;
color: white;
border-radius: 3px;
padding-left: 9px;
margin-left: -22px;
cursor: pointer;
}